.built
.configured_y
.prepared
.quilt_checked
.source_dir
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.h
config.h.in~
config.log
config.rpath
config.status
configure
data/Makefile
data/Makefile.in
data/images/Makefile
data/images/Makefile.in
data/theme/Makefile
data/theme/Makefile.in
ipkg-install/
ipkg-pxa1826/
src/.deps/
src/Makefile
src/Makefile.in
src/ilixi_mgui
*.o
stamp-h1

