.built
.configured_y
.prepared
.quilt_checked
.source_dir
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
config.h
data/CMakeFiles/
data/Makefile
data/cmake_install.cmake
data/images/CMakeFiles/
data/images/Makefile
data/images/cmake_install.cmake
data/theme/CMakeFiles/
data/theme/Makefile
data/theme/cmake_install.cmake
install_manifest.txt
ipkg-install/
ipkg-pxa1826/
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/mgui

config.log
config.status
src/.deps/
src/*.o
stamp-h1

autom4te.cache/
config.h.in
config.h.in~
configure
src/Makefile.in
Makefile.in

